STRIPE_ENDPOINT_SECRET=whsec_...
STRIPE_API_KEY=sk_test_...
TWILIO_ACCOUNT_ID=ABC123
TWILIO_AUTH_TOKEN=MY_SECRET_TOKEN
TWILIO_FROM_PHONE=+13335551234
PRIVATE_KEY=abc123
RPC=https://rpc.hermesdefi.io/
MONGO_URI=...
MONGO_DATABASE=nftmint
FRONTEND_URI=https://example.com